<div class="home-page">
<h1> Welcome to your bucket list! </h1>
<h2> If there is no tomorrow, where would you go? </h2>
<ul>
<li>
<a href="/countries"><img src="images/background2.jpg" width="480" height="320">Countries</a>
</li>
<li>
 <a href="/cities"><img src="images/city.jpg" width="480" height="320">Cities</a>
</li>
</ul>
</div>
