<form method="post" action="/cities/<%= @city.id %>">

  <input type="hidden" name="country_id" value="<%= @city.country_id %>">

  <label for="name-field">City Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @city.name %>"
  />

  <label for="if-visited-field">Have you been there:</label>
  <input
  type="text"
  name="if_visited"
  id="if-visited-field"
  value="<%= @city.if_visited %>"
  />

  <input type='submit' value="Update">
</form>
