<h1>Add new city to your list</h1>

<form method="post" action="/cities">
  <label for="name">City Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  />

  <label for="if_visited">Have you been there?</label>
  <input
  type="text"
  name="if_visited"
  id="if_visited-field"
  />

  <label>
    Select a country:
      <select name="country_id">
        <% for country in @countries %>
        <option value="<%= country.id %>"><%= country.name %></option>
        <% end %>
      </select>
    </label>

  <input type="submit" value="add new city">
</form>
