<h1>Add new city to your list</h1>

<form method="post" action="/city">
  <label for="name">City Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  />

  <label for="if_visited">Have you been there?</label>
  <input
  type="text"
  name="if_visited"
  id="if_visited-field"
  />

  <label for="country_id">Country</label>
  <input
  type="text"
  name="country_id"
  id="country_id-field"
  />

  <input type="submit" value="add city">
</form>
