<div class="countries-list">
  <h1>Countries</h1>
<ul>
  <% @countries.each do |country| %>
  <li>
  <a href="/countries/<%= country.id %>"> <%= country.name %> </a>
  </li>
  <% end %>
</ul>
<a href="/countries/new"><input type="submit" value="Add new country"></a>
</div>
