
body {
  background: #9bf3f0 url('/images/background3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #253C78;
  font-family: 'Comic Sans MS', sans-serif;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3 {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 3em;
  color: #253C78;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.2em;
  color: #253C78;
}

h3{
  font-size: 1.5em;
  color: #ffdd4a;
}

a, a:link {
  font-size: 1.5em;
  color: #253c78;
  text-align: center;
  text-decoration: none;
}

a:hover, a:visited, a:active, a:focus {
  color: #068D9D;
}

nav {
  padding-top:
  width: 250px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

nav li {
  list-style-type: none;
  font-size: 1.5em;
}

input[type=text], select {
  width: 35%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 35%;
  display: flex;
  justify-content: center;
  background-color: #9bf3f0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.countries-list {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.countries-list ul {
  height: 45px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.countries-list li {
  list-style-type: none;
}
.country-details {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.country-details ul {
  height: 45px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.country-details li {
  list-style-type: none;
}

.cities-list{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.cities-list ul{
  height: 150px;
  width: 950px;
  display: flex;
  flex-flow: wrap;
  align-content: space-evenly;
  justify-content: center;
}
.cities-list li {
  list-style-type: none;
  padding: inherit;
}
.city-details {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.home-page {
  text-align: center;
}
.home-page ul{
  height: 500px;
  width: 1200px;
  display: flex;
  flex-flow: wrap;
  align-content: space-evenly;
  justify-content:space-between;
  padding: 40px 40px;
}
.home-page li {
    list-style-type: none;
    font-size: 1.8em;
}
.centered{
 position: absolute;
 top: 50%;
 left: 15%;
}

.centered2{
 position: absolute;
 top: 50%;
 right: 17%;
}
